snippet hwheader "Homework header" b
-- Hao Hu - 1337375 - hhu94@uw.edu
-- CSE 344 Homework $0
endsnippet

snippet exseparator "Exercise separator" b
---- $1 -------------------------------------------------------------------------

$0
endsnippet
